#{extends 'addEdit.html' /}
#{set title:'Home' /}

<body onload="printWeekDays();">
<h1>${me.name}'s Calendars:</h1>
	#{if message}
		<font style = "font-size: 30px; color: red;">${message}</font><br>
	#{/if}
	<!-- <p> Date Format: <b> dd/MM/yyyy, HH:mm </b> , Eg: 2. January 1965 at noon is then: 02/01/1965, 12:00 <br> -->
	Adding a new Event </p>
	<!-- ${calendarId} -->
	<form name="before" action="" method="post">
		<ul>
			<li>Name:</li><input type="text" name="titlename" value="#{if (event != null)} ${event.name} #{/if}" />
	</form>

<br>
<form name="startdate" method="post" action="">
Startdatum:
<select name="sday" onChange="OnChange(this.form.sday)">
	%{
		for (int i=1; i<=31; i++) {
			String choice = "";
			choice = '<option value="'+i+'"';
			if (i == activeDate.getDayOfMonth()) choice += ' selected';
			choice += '>'+i+'</option>';
			out.println(choice);
		}
	%}

</select>.
<select name="smonth" onChange="OnChange(this.form.smonth)">
	%{
		String[] months = new String[12];
		months[0] = 'Jan';
		months[1] = 'Feb';
		months[2] = 'Mar';
		months[3] = 'Apr';
		months[4] = 'Mai'; 
		months[5] = 'Jun'; 
		months[6] = 'Jul'; 
		months[7] = 'Aug'; 
		months[8] = 'Sep';
		months[9] = 'Okt';
		months[10] = 'Nov'; 
		months[11] = 'Dez';

		for (int i=1; i<=12; i++) {
			String choice = "";
			choice = '<option value="' + i + '"';
			if (i == activeDate.getMonthOfYear()) choice += ' selected';
			choice += '>' + months[i-1] + '</option>';
			out.println(choice);
		}
	%}
</select>.
<select name="syear" onChange="OnChange(this.form.syear)">
	%{
		for (int i=2011; i<2020; i++) {
			String choice = "";
			choice = '<option value="' + i + '"';
			if (i == activeDate.getYear()) choice += ' selected';
			choice += '>' + i + '</option>';
			out.println(choice);
		}
	%}
</select> - Zeit:
<select name="shour" onChange="OnChange(this.form.shour)">
	<option value="00">00</option>
	<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12" selected>12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
<option value="22">22</option>
	<option value="23">23</option>
</select> : 
<select name="smins" onChange="OnChange(this.form.smins)">
	<option value="00" selected>00</option>
	<option value="05">05</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
</select> Uhr <div id="startday" style="display:inline;"></div>
</form>

<form name="enddate" method="post" action="">
Enddatum:
<select name="day" onChange="OnChangeEndDate()">
	%{
		for (int i=1; i<=31; i++) {
			String choice = "";
			choice = '<option value="'+i+'"';
			if (i == activeDate.getDayOfMonth()) choice += ' selected';
			choice += '>'+i+'</option>';
			out.println(choice);
		}
	%}

</select>.
<select name="month" onChange="OnChangeEndDate()">

	%{
		for (int i=1; i<=12; i++) {
			String choice = "";
			choice = '<option value="' + i + '"';
			if (i == activeDate.getMonthOfYear()) choice += ' selected';
			choice += '>' + months[i-1] + '</option>';
			out.println(choice);
		}
	%}
	
</select>.
<select name="year" onChange="OnChangeEndDate()">
	%{
		for (int i=2011; i<=2020; i++) {
			String choice = "";
			choice = '<option value="' + i + '"';
			if (i == activeDate.getYear()) choice += ' selected';
			choice += '>' + i + '</option>';
			out.println(choice);
		}
	%}

</select> - Zeit:
<select name="hour" onChange="OnChangeEndDate()">
	<option value="00">00</option>
	<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13" selected>13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
<option value="22">22</option>
	<option value="23">23</option>
</select> : 
<select name="mins" onChange="OnChangeEndDate()">
	<option value="00" selected>00</option>
	<option value="05">05</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
</select> Uhr <div id="endday" style="display:inline;"></div>
</form>
	
	%{ if (editingEvent) { %}
	<form name="hiddenform" onsubmit="return send()" action="@{Application.saveEditedEvent()}" method="GET">
	<input type="hidden" name="eventId" value="${eventId}" />
	%{ } else { %}
	<form name="hiddenform" onsubmit="return send()" action="@{Application.createEvent()}" method="GET">
	%{ } %}
	
	<input type="hidden" name="calendarId" value="${calendarId}" />
	<input type="hidden" name="name" value="" />
	<input type="hidden" name="start" value="" />
	<input type="hidden" name="end" value="" />
			<br> Visibility:
			<select name="visibility">
				<option value="PRIVATE">Private</option>
				<option value="BUSY">Busy</option>
				<option value="PUBLIC">Public</option>
			</select>
			<br> Declare as open Event (only possible for Public Events):<br>
			NOTE: This will allow all users to attend this Event.
			<input type="checkbox" name="isOpen">
			<br> Repeatable:
			<select name="is_repeated">
				<option value="0">-</option>
				<option value="1">daily</option>
				<option value="7">weekly</option>
				<option value="30">monthly</option>
				<option value="365">yearly 
			</select>
			<br> Event Description:	<br>
			<textarea rows="6" cols="100" name="description"></textarea>
	<input type="hidden" name="s_activeDate" value="${activeDate.toString('dd/MM/yyyy, HH:mm')}" />

		
		<input type="submit" value="Save" />
	</form>

<a href="@{Application.index()}">Home</a>
<a href="@{Secure.logout()}">Log out</a>

</body>