#{extends 'main.html' /}
#{set title:'Home' /}
<p style="color: gray; position: absolute; left: 70%;">Logged in as ${me.getName()} - <a href="@{Secure.logout()}">Log out</a>  </p>

<div id="myModal" class="reveal-modal">
     <h1>New calendar</h1>
     <p>
     Please enter a name for your new Calendar: 
     <form name="form" action="@{Application.createCalendar()}" method="GET">
     <input type="text" name="calendarName" value="">
     <input type="hidden" name="userName" value="${me.getName()}">
     <input type="button" value="create" onClick="submit()">
     </form>
      </p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<h1>Home</h1>

<h2>Your calendars <input type="button" value="new calendar" id="myButton" onclick="#myButton"> </h2>
#{list items:calendars, as:'calendar'}
${calendar.getName()} - 
  <a href="@{Application.showCalendar(calendar.getId(), me.getName(), s_activeDate)}"> view </a> - 
  <a id="deleteButton" href="javascript: send(${calendar.getId()}+1)"> delete </a> <br>
#{/list}

<script type="text/javascript">
function send(calendarId) {
	document.deleteCal.calendarId.value = calendarId-1;
	
	var answer = confirm ("Are you REALLY sure? This can NOT be undone!")
	if (answer)
		document.forms.deleteCal.submit();
	else
		alert ("Okay, don't worry, nothing happened.")
}
</script>

<form name="deleteCal" action="@{Application.deleteCalendar()}" method="GET">
	<input type="hidden" name="calendarId" value="" />
</form>

<h2>Your account</h2>
<a href="@{Application.showProfile(me.getName())}"> view profile </a><br>
<a href="@{Application.showEditProfile()}"> edit profile </a><br>
<a href="@{Application.deleteMyAccount()}"> delete account</a>

<h2>Followed calendars</h2>
#{list items:me.getObservedCalendars(), as:'calendar'}
#{if calendar.getName()!="Birthdays"}
<a href="@{Application.showCalendar(calendar.getId(), calendar.getOwner(), s_activeDate)}"> ${calendar.getName()} </a><br>
#{/if}
#{/list}

#{form @Application.searchForUser()}
<p>
	<label><b>Search User:</b></label>
	<br>
		<input type = "text" name = "userName" id = "userName"/>
		<input type = "submit" value = "Search"/>
		<input type = "hidden" name = "s_activeDate" value = "${s_activeDate}" />
	</br>
</p>
#{if flash.error}
	<p style="color:#c00">
		${flash.error}
	</p>
#{/if}
#{/form}

<script type="text/javascript">
$(document).ready(function() {
     $('#myButton').click(function(e) {
          e.preventDefault();
	  $('#myModal').reveal();
     });
});
</script>