#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Calendar Team1 - Hello ${me.name}</h1>

<h2>News:</h2>
	sad user has no news QQ
<h2>Administration</h2>
<p>
		<a href="@{Application.showCalendarList(me.name, s_date)}"> Show my calendars </a><br>
	    <a href="@{Application.showRegistration()}"> Register new User</a><br>
	    <a href="@{Secure.login()}"> Log in</a><br>
		<a href="@{Secure.logout()}">Log out</a><br>
</p>

#{ifnot users}
    <p>
        no users available
    </p>
#{/ifnot}

<p>
<b>Other Users:</b>
<ul>
    #{list items:users, as:'user'}
        #{ifnot user==me}
	        <li>
	            	<a href="@{Application.showCalendarList(user.name, s_date)}">${user.name}</a>        
	        </li>
        #{/ifnot}
    #{/list}
</ul>
</p>

#{form @Application.searchForUser()}
<p>
	<label><b>Search User:</b></label>
	<br>
		<input type = "text" name = "userName" id = "userName"/>
		<input type = "submit" value = "Search"/>
		<input type="hidden" name="s_date" value="${s_date}" />
	</br>
</p>
#{if flash.error}
	<p style="color:#c00">
		${flash.error}
	</p>
#{/if}
#{/form}


