#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Hello ${me.name}</h1>

<h2>News:</h2>
So far, there are only some parts of the code "nice" presented by a gui or css formating but it has been done partially and therefore the task is fulfilled.
Still missing are some error checks: up to now, there are some requirements.
Furthermore, there should be even more test modules but there are a few. Due the code is going to change in the next days, there well some error checks added probably.

#{ifnot users}
    <p>
        no users available
    </p>
#{/ifnot}

<p>
<b>Other Users:</b>
<ul>
    #{list items:users, as:'data'}
        #{ifnot data==me}
	        <li>
	            	<a href="@{Application.showCalendars(data.name, s_date)}">${data.name}</a>        
	        </li>
        #{/ifnot}
    #{/list}
</ul>
</p>

<h2>Administration</h2>
<p>
	<li>
		<a href="@{Application.showMe(s_date)}))}"> show my calendars</a>   <br>
		<a href="@{Application.showTest(me.getdefaultCalendar().getId(),me.name ,me.getdefaultCalendar().getName(), s_date)}"> test</a>   <br>
	    <a id="newUser" href="#">Add new user</a> <br>
	    <a href="@{Secure.login()}"> Log in</a>   <br>
		<a href="@{Secure.logout()}">Log out</a>  <br>
	</li>
</p>





<script type="text/javascript" charset="utf-8">
    $('#newUser').click(function(){
        $.post('@{newUser()}', {name: prompt('Task title ?')},function(user){
        	$('ul').prepend(
        			   '<li>'+user.name+'</li>'		
        	)	
        }, 'json')  
    })
</script>


