#{extends 'main.html' /}
#{set title:'Home' /}
<header>
	<h1>${user.name}'s Calendar: ${calendar.name}
<!-- TODO DELETE FROM HERE USED FOR TESTING-->
	#{if message}
		<font style = "font-size: 30px; color: red;">${message}</font>
	#{/if}
<!-- TO HERE -->
	
		%{
		//Add transparent star (normal calendar) or yellow star (faved calendar)
		if (me != user) {
			if (faved) {
				%}<a href="@{Application.removeObserve(user.name, calendar.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'), message)}">%{
				out.println('<img src="/public/images/star_fav.png" border=0>');
			}
			else {
				%}<a href="@{Application.addObserve(user.name, calendar.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'), message)}">%{
				out.println('<img src="/public/images/star.png" border=0>');
			}
		}
		%}
	</a>
	
	</h1>
	<p> Month: ${activeDate.toString("MMM")} ${activeDate.getYear().toString()} </p>
</header>

<body>
	<div id="nextMonth">
		<a href="@{Application.showCalendar(calendar.getId(),user.name, nextMonth.toString('dd/MM/yyyy, HH:mm'), activeDate.getDayOfMonth())}"> next </a>
	</div>
	
	<div id="prevousMonth">
		<a href="@{Application.showCalendar(calendar.getId(), user.name, prevMonth.toString('dd/MM/yyyy, HH:mm'), activeDate.getDayOfMonth())}"> previous </a>
	</div>
	
	<table id="calendar">
		<tr>
			<td class="title"> Mo </td>
			<td class="title"> Di </td>
			<td class="title"> Mi </td>	
			<td class="title"> Do </td>	
			<td class="title"> Fr </td>	
			<td class="title"> Sa </td>	
			<td class="title"> So </td>	
		</tr>
		%{ 
			int tmp = 1;
			int counter = 1;
			int year = activeDate.getYear();
			int month = activeDate.getMonthOfYear();
			
			for(int i = 0; i < 6; i++){
				
				out.println('<tr>');
				for(int j = 0; j < 7; j++){
				
					// gebe hier date of month aus
					// 1. vorzellen(leer), 2. erster bis letzter tag, 3. fill-in
					
					if (tmp  < bound){
						out.println('<td class="entry"> - </td>');
					} 
					else if(counter <= bound2)
					{
					
					// Layout of day can be seperated into 3 categories:
					// 1 - today
						if (counter  == today.getDayOfMonth() 
								&& month == today.getMonthOfYear()
							 	&& year == today.getYear()) 
							{out.println('<td class="today"> ');}
						
					// 2 - selected
						else if (counter == activeDate.getDayOfMonth()) {
							out.println('<td class="selected"> ');
						}
						
					// 3 - normal day
						else {
							out.println('<td class="entry"> ');
						}
						
						if(calendar.hasEventOnDay(counter, month, year, me)){
							%} 
							<a href="@{Application.showCalendar(calendar.getId(), user.name, activeDate.toString('dd/MM/yyyy, HH:mm'), counter)}"> ${counter}</a>
							%{
						}
						else {
							out.println(counter+'</td>');	
						}
						counter++;
					}
					else {
						out.println('<td class="entry"> - </td>');
					}
					tmp++;
				}
				out.println('</tr>');
			}
		%} 
	
	</table>
	
	%{
	if (me == user) {
	%}
	
	<form name="calendarform">
	<!-- observed calendars -->
	%{
		int c=0;
		int space = 360;
		int interval = (int)(space/(Math.max(shownObservedCalendars.size()-1,1)));
	%}
	
	#{list items:observedCalendars, as:'cal'}
		
		<input type="checkbox" name="${cal.name}" id="${cal.id}" value="${cal.name}" onclick="changeSelection(this)" 
		%{
		//if observable calendar is shown, display checkbox as checked
		boolean statementClosed = false;
		 if (shownObservedCalendars != null) {

			for (int i=0; i<shownObservedCalendars.size(); i++) {
				if (shownObservedCalendars.contains(cal.id)) {
					out.print('checked="true"');
					
					//Color observed calendars
					int col = interval*c;
		 			out.print('><font style="color: hsl(' + col + ',100%, 50%)">&#10026;</font> '+cal.name+'<br>');
		 			c++;
					statementClosed = true;
					break;
				}
			}
		 }
		 
		 if (!statementClosed) {
			out.print('> '+cal.name+'<br>');
		 }
		 
		%}
	#{/list}
	</form>
	%{
	}
	%}
	
	<div style="clear:both"></div>

	<table id="events">
			<h2>${user.name}'s events of the ${activeDate.toString("dd-MM-yyyy")} </h2>
			#{list items:eventsOfDay, as:'event'}
				<p>
					<!-- <li> -->
					
							#{if me != event.owner} 
							%{
							int space = 360;
							int interval = (int)(space/(Math.max(shownObservedCalendars.size()-1,1)));
							//System.out.println("interval = "+interval+", calenderID = "+event.calendarID+", found at = "+shownObservedCalendars.indexOf(event.calendarID));
							col = interval*(shownObservedCalendars.indexOf(event.calendarID)-1);
							out.print('<font style="color: hsl(' + col + ',100%, 50%)">&#10026;</font>');
							%}
							<b>Owner:</b>${event.owner.name} 
							#{/if}
								
							#{if user==me}  
								#{if me==event.owner || event.isPublic()}<b>Event name:</b>${event.name} #{/if},
								
								<!-- Why is this me==event.owner?? this displays 'busy' for all owned events! -->
								#{if me==event.owner || event.isBusy()} <b>Busy</b> #{/if},  
								<b>from:</b>${event.start.toString("dd/MM/yyyy, HH:mm")}  ,<b>to:</b>${event.end.toString("dd/MM/yyyy, HH:mm")} 
								    
								#{if me==event.owner || event.isPublic()}
									<b>visibility</b>:${event.visibility} 
									<b>Repeating:</b>${event.is_repeating}  
									<b>Description</b>:${event.description} <br>
								#{/if}
							#{/if} <br>
							#{if event.isOpen()}
									<b>Attending:</b>${event.listAttendingUsers()}
							#{/if}
							
							<b>Repeating:</b>${event.is_repeating}
							<b>Description</b>:${event.description} <br>
							#{if user == me && me==event.owner && !user.isBirthday(event)}
								<b><a href="@{Application.editEvent(event.getId(), calendar.getId(), me.name, activeDate.toString('dd/MM/yyyy, HH:mm'))}"> Edit </a></b> <br>
								<b><a href="@{Application.removeEvent(calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> Remove </a></b> <br>
								#{if event.is_repeating}
									<b><a href="@{Application.removeRepeatingEvents(calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> Remove All Repeating </a></b><br>  
									<b> <a href="@{Application.cancelEventRepetition(calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}">Cancel Repetition from here </a></b>
								#{/if}
							#{/if}
							#{if event.getOwner() == me && event.isOpen() || event.isPublic() && event.isOpen()}
								#{if event.userIsAttending(me.name)}
									You are attending! <b><a href="@{Application.removeUserFromEvent(me.name, calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> No longer Attend </a></b><br>
								#{/if}
								#{else}
									<b><a href="@{Application.addUserToEvent(me.name, calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> Attend </a></b><br>
								#{/else}  
							#{/if}
					<br>
					<!-- </li> --> 
				</p>
			#{/list}
	</table>
	
	<div id="Nav">
		#{if user==me} 
 			<a href="@{Application.addEvent(calendar.getId(), me.name, activeDate.toString('dd/MM/yyyy, HH:mm'))}"> New Event</a>  <br>
		#{/if}
	</div>
	
<form name="hiddenform" action="@{Application.changeObservedCalendars()}">
<input type="hidden" name="calID" value="" />
<input type="hidden" name="chk" value="" />

<input type="hidden" name="username" value="${user.name}" />
<input type="hidden" name="calendarId" value="${calendar.getId()}" />
<input type="hidden" name="s_activeDate" value="${activeDate.toString('dd/MM/yyyy, HH:mm')}" />
<input type="hidden" name="message" value="${message}" />
</form>

<!-- Some Javascript to change observed calendars-->
<script type="text/javascript">
function changeSelection(boxName) {
	document.hiddenform.calID.value = boxName.id;
	
	if (boxName.checked == true) {
		document.hiddenform.chk.value = "true";
		alert("Added to view.");
	}
	else {
		document.hiddenform.chk.value = "false";
		alert("Removed from view.");
	}

	document.hiddenform.submit();
} 
</script>
	
</body>	

<a href="@{Application.showCalendarList(user.name, activeDate.toString('dd/MM/yyyy, HH:mm'))}">Back</a>
<a href="@{Application.index()}">Home</a>
<a href="@{Secure.logout()}">Log out</a>