#{extends 'main.html' /}
#{set title:'Home' /}
<header>
	<h1>${user.name}'s Calendar: ${calendar.name} 
	#{if message}
		<font style = "font-size: 30px; color: red;">${message}</font>
	#{/if}
	<h1>${activeDate.toString("dd/HH/yyyy, HH:mm")}</h1>
	
		%{
		//Add transparent star (normal calendar) or yellow star (faved calendar)
		if (me != user) {
			if (faved) {
				%}<a href="@{Application.removeObserve(user.name, calendar.getId(), activeDate.toString(), message)}">%{
				out.println('<img src="/public/images/star_fav.png" border=0>');
			}
			else {
				%}<a href="@{Application.addObserve(user.name, calendar.getId(), activeDate.toString(), message)}">%{
				out.println('<img src="/public/images/star.png" border=0>');
			}
		}
		%}
	</a>
	
	</h1>
	<p> Month: ${activeDate.toString("MMM")} ${activeDate.getYear().toString()} </p>
</header>

<body>
	<div id="nextMonth">
		<a href="@{Application.showCalendar(calendar.getId(),user.name, nextMonth.toString('dd/MM/yyyy, HH:mm'), activeDate.getDayOfMonth())}"> next </a>
	</div>
	
	<div id="prevousMonth">
		<a href="@{Application.showCalendar(calendar.getId(), user.name, prevMonth.toString('dd/MM/yyyy, HH:mm'), activeDate.getDayOfMonth())}"> previous </a>
	</div>
	
	<table id="calendar">
		<tr>
			<td class="title"> Mo </td>
			<td class="title"> Di </td>
			<td class="title"> Mi </td>	
			<td class="title"> Do </td>	
			<td class="title"> Fr </td>	
			<td class="title"> Sa </td>	
			<td class="title"> So </td>	
		</tr>
		%{ 
			int tmp = 1;
			int counter = 1;
			int year = activeDate.getYear();
			int month = activeDate.getMonthOfYear();
			
			for(int i = 0; i < 6; i++){
				
				out.println('<tr>');
				for(int j = 0; j < 7; j++){
				
					// gebe hier date of month aus
					// 1. vorzellen(leer), 2. erster bis letzter tag, 3. fill-in
					
					if (tmp  < bound){
						out.println('<td class="entry"> - </td>');
					} 
					else if(counter <= bound2)
					{
					
					// Layout of day can be seperated into 3 categories:
					// 1 - today
						if (counter  == today.getDayOfMonth() 
								&& month == today.getMonthOfYear()
							 	&& year == today.getYear()) 
							{out.println('<td class="today"> ');}
						
					// 2 - selected
						else if (i*7+j-bound+1 == activeDate.getDayOfMonth()) {
							out.println('<td class="selected"> ');
						}
						
					// 3 - normal day
						else {
							out.println('<td class="entry"> ');
						}
						
						if(calendar.hasEventOnDay(counter, month, year, me)){
							%} 
							<a href="@{Application.showCalendar(calendar.getId(), user.name, activeDate.toString(), counter)})}"> ${counter}</a>
							%{
						}
						else {
							out.println(counter+'</td>');	
						}
						counter++;
					}
					else {
						out.println('<td class="entry"> - </td>');
					}
					tmp++;
				}
				out.println('</tr>');
			}
		%} 
	
	</table>
	
	%{
	if (me == user) {
	%}
	
	<form name="calendarform">
	<!-- observed calendars -->
	#{list items:observedCalendars, as:'cal'}
		
		<input type="checkbox" name="${cal.name}" id="${cal.id}" value="${cal.name}" onclick="changeSelection(this)" 
		%{
		//if observable calendar is shown, display checkbox as checked
		 if (shownObservedCalendars != null) {
			for (int i=0; i<shownObservedCalendars.size(); i++) {
				if (shownObservedCalendars.contains(cal.id)) {
					out.print('checked="true"');
				}
			}
		 }
		 out.print('> '+cal.name+'<br>');
		%}
	#{/list}
	</form>
	%{
	}
	%}
	
	<div style="clear:both"></div>

	<table id="events">
			<h2>${user.name}'s events of the ${activeDate.toString("dd-MM-yyyy")} </h2>
			#{list items:eventsOfDay, as:'event'}
				<p>
					<li> 
							#{if me != event.owner}<b>Owner:</b>${event.owner.name}#{/if}<b> Event name:</b>${event.name},  <b>from:</b>${event.start}  ,<b>to:</b>${event.end} 
							#{if user==me},  
								<b>visibility</b>:${event.visibility} 
							#{/if} <br>
							<b>Repeating:</b>${event.is_repeating}
							<b>Description</b>:${event.description} <br>
							#{if user == me && me==event.owner}
								<b><a href="@{Application.editEvent(event.getId(), calendar.getId(), me.name, activeDate.toString())}"> Edit </a></b> <br>
								<b><a href="@{Application.removeEvent(calendar.getId(), event.getId(), activeDate.toString())}"> Remove </a></b> <br>
								#{if event.is_repeating}
									<b><a href="@{Application.removeRepeatingEvents(calendar.getId(), event.getId(), activeDate.toString())}"> Remove All Repeating </a></b><br>  
									<b> <a href="@{Application.cancelEventRepetition(calendar.getId(), event.getId(), activeDate.toString())}">Cancel Repetition from here </a></b>
								#{/if}
							#{/if}
					</li>  
				</p>
			#{/list}
	</table>
	
	<div id="Nav">
		#{if user==me} 
 			<a href="@{Application.addEvent(calendar.getId(), me.name, activeDate.toString())}"> New Event</a>  <br>
		#{/if}
	</div>
	
<form name="hiddenform" action="@{Application.changeObservedCalendars()}">
<input type="hidden" name="calID" value="" />
<input type="hidden" name="chk" value="" />

<input type="hidden" name="username" value="${user.name}" />
<input type="hidden" name="calendarId" value="${calendar.getId()}" />
<input type="hidden" name="s_activeDate" value="${activeDate.toString()}" />
<input type="hidden" name="message" value="${message}" />
</form>

<!-- Some Javascript to change observed calendars-->
<script type="text/javascript">
function changeSelection(boxName) {
	document.hiddenform.calID.value = boxName.id;
	
	if (boxName.checked == true) {
		document.hiddenform.chk.value = "true";
		alert("Added to view.");
	}
	else {
		document.hiddenform.chk.value = "false";
		alert("Removed from view.");
	}

	document.hiddenform.submit();
} 
</script>
	
</body>	

<a href="@{Application.showCalendarList(user.name, activeDate.toString())}">Back</a>
<a href="@{Application.index()}">Home</a>
<a href="@{Secure.logout()}">Log out</a>