#{extends 'main.html' /}
#{set title: calendar.getName() /}
<div id="content">
<header>
		#{navigation /}
		
	<h1><a href="@{Application.index()}">Home</a> - <a href="@{Application.showProfile(user.getName())}">${user.getName()}</a>'s ${calendar.getName()} Calendar
		%{
		//Add transparent star (normal calendar) or yellow star (faved calendar)
		if (me != user) {
			if (faved) {
				%}<a href="@{Application.removeObserve(user.getName(), calendar.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'), message)}">%{
				out.println('<img src="/public/images/star_fav.png" border=0>');
			}
			else {
				%}<a href="@{Application.addObserve(user.getName(), calendar.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'), message)}">%{
				out.println('<img src="/public/images/star.png" border=0>');
			}
		}
		%}
	</a>
	
	</h1>
</header>

<body>
	<div id="calendarNavigation">
			<span id="previousMonth"><a class="button" href="@{Application.showCalendar(calendar.getId(), user.getName(), prevMonth.toString('dd/MM/yyyy, HH:mm'), activeDate.getDayOfMonth())}"><<</a></span>
			<span id="currentMonth">${activeDate.toString("MMM")} ${activeDate.getYear().toString()}</span>
			<span id="nextMonth"><a class="button" href="@{Application.showCalendar(calendar.getId(),user.getName(), nextMonth.toString('dd/MM/yyyy, HH:mm'), activeDate.getDayOfMonth())}">>></a></span>
			<br><br>
	</div>
	
	<table id="calendar">
		<tr>
			<td class="title"> Mon </td>
			<td class="title"> Tue </td>
			<td class="title"> Wed </td>	
			<td class="title"> Thu </td>	
			<td class="title"> Fri </td>	
			<td class="title"> Sat </td>	
			<td class="title"> Sun </td>	
		</tr>
		%{ 
		//System.out.println("Tage berechnen.");
		
			int tmp = 1;
			int counter = 1;
			int year = activeDate.getYear();
			int month = activeDate.getMonthOfYear();
			
			for(int i = 0; i < 6; i++){
				
				out.println('<tr>');
				for(int j = 0; j < 7; j++){
				
					// gebe hier date of month aus
					// 1. vorzellen(leer), 2. erster bis letzter tag, 3. fill-in
					
					if (tmp  < bound){
						out.println('<td class="entry"> - </td>');
					} 
					else if(counter <= bound2)
					{
					
					// Layout of day can be seperated into 3 categories:
					// 1 - today
						if (counter  == today.getDayOfMonth() 
								&& month == today.getMonthOfYear()
							 	&& year == today.getYear()) 
							{out.println('<td class="today"> ');}
						
					// 2 - selected
						else if (counter == activeDate.getDayOfMonth()) {
							out.println('<td class="selected"> ');
						}
						
					// 3 - normal day
						else {
							out.println('<td class="entry"> ');
						}
						hasEvent = calendar.hasEventOnDateIncludingObserved(counter, month, year, me)
						//System.out.println("vor calendar.hasEventOnDate ");
						if(hasEvent){
						//System.out.println("im calendar.hasEventOnDate ");
						out.println('<b>');
						}
							%} 
							<a href="@{Application.showCalendar(calendar.getId(), user.getName(), activeDate.toString('dd/MM/yyyy, HH:mm'), counter)}"> ${counter}</a>
							%{
							if (hasEvent) {
								out.println('</b>');
							}
						//System.out.println("nach calendar.hasEventOnDate ");
						
						
						counter++;
					}
					else {
						out.println('<td class="entry"> - </td>');
					}
					tmp++;
				}
				out.println('</tr>');
			}
			//System.out.println("Tage berechnen okay.");
		%} 
	
	</table>
	
	%{
	if (me == user) {
	%}
	
	<form name="calendarform">
	<!-- observed calendars -->
	%{
		int c=0;
		int space = 360;
		int interval = (int)(space/(Math.max(observedCalendars.size(),1)));
	%}
	
	#{list items:observedCalendars, as:'cal'}
		
		<input type="checkbox" name="${cal.getName()}" id="${cal.id}" value="${cal.getName()}" onclick="changeSelection(this)" 
		%{
		//if observable calendar is shown, display checkbox as checked
		boolean statementClosed = false;
		 if (shownObservedCalendars != null) {

			for (int i=0; i<shownObservedCalendars.size(); i++) {
				if (shownObservedCalendars.contains(cal.id)) {
					out.print('checked="true"');
				}
				if (observedCalendars.contains(cal)) {
					//Color observed calendars
					int col = interval*c;
		 			out.print('><font style="color: hsl(' + col + ',100%, 50%)">&#10026;</font> '+cal.getName()+'<br>');
		 			//System.out.println("OBSERVED: interval = "+interval+", found at = "+shownObservedCalendars.indexOf(cal.getId()));
		 			c++;
					statementClosed = true;
					break;
				}
			}
		 }
		 
		 if (!statementClosed) {
			out.print('> '+cal.getName()+'<br>');
		 }
		 
		%}
	#{/list}
	</form>
	%{
	}
	%}
	
	<div style="clear:both"></div>

	<div id="Nav">
		#{if user==me} 
	 		<a class="button" href="@{Application.addEditEvent(-1, calendar.getId(), me.getName(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> New Event</a>  <br>
		#{/if}
	</div>
	<table id="events">
			<h2>Events on ${activeDate.toString("dd-MM-yyyy")} </h2>
			#{if eventsOfDate.isEmpty()}
				No events to display.
			#{/if}
			#{list items:eventsOfDate, as:'event'}
				<p>
				
				<!-- Color for observed Events -->
						%{
						if (me == user) {	
							int space = 360;
							int interval = (int)(space/(Math.max(observedCalendars.size(),1)));
							
							// TODO finde Kalender in observedCalendars
							int idx = 0;
							
							System.out.println("Event: " + event + " calendar: " + event.getCalendar()+", color index = "+idx+", interval = "+interval);
							
							System.out.println("Id des Event-Kalenders:"+event.getCalendarId());
							System.out.println("Prüfe calendarIds... ");
							for (int i=0; i < observedCalendars.size(); i++) {
								System.out.print(observedCalendars.get(i).getId()+" ");
								if (observedCalendars.get(i).getId() == event.getCalendarId() || observedCalendars.get(i).getId()+1 == event.getCalendarId()) {
									System.out.println("gefunden an Stelle i = "+i);
									idx = i;
									break;
								}
							}
							System.out.println();
							
							col = interval*idx;
							// No border if event is from current user
							if (me == event.getOwner() && event.getName() != "birthday") 
								out.print('<div id="eventInformation" style="border-color: hsl(0, 100%, 100%)">');
							else 
								out.print('<div id="eventInformation" style="border-color: hsl(' + col + ',100%, 50%)">');
						}
						%}
							<span id="eventName">${event.getNameFor(me)}</span> 
							
							%{// TODO Datum nur anzeigen, wenns nicht der aktuelle Tag ist %}
							<span id="important">${event.getDatesFor(acitiveDate, me)}</span>
							
							<div id="important">${event.getDescriptionFor(me)}</div>
							<div id="unimportant">
							Created by: ${event.getOwner()} - 
							${event.getRepetitionFor(me)} - 
							${event.getVisibilityFor(me)} - 
							${event.getType()} - 
							Id ${event.getId()}
							</div>
							#{if user == me && me==event.getOwner() && !user.isBirthday(event)}
								<a href="@{Application.addEditEvent(event.getId(), calendar.getId(), me.getName(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> edit </a>
								- <a href="@{Application.removeEvent(calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> remove </a>
								#{if event.isRepeating()}
									<b><a href="@{Application.removeRepeatingEvents(calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> Remove All Repeating </a></b><br>  
									<b><a href="@{Application.cancelEventRepetition(calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}">Cancel Repetition from here </a></b>
								#{/if}
							#{/if}
							#{if event.getOwner() == me && event.isOpen() || event.isPublic() && event.isOpen()}
							<b>Attending: </b> ${event.getAttendingUsers()}<br>
								#{if event.userIsAttending(me.getName())}
									You are attending!<b><a href="@{Application.removeUserFromEvent(me.getName(), calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> No longer Attend </a></b><br>
								#{/if}
								#{else}
									<a href="@{Application.addUserToEvent(user.getName(), calendar.getId(), event.getId(), activeDate.toString('dd/MM/yyyy, HH:mm'))}"> attend </a>
								#{/else}  
							#{/if}
							</div>
				</p>
			#{/list}
	</table>

	
<form name="hiddenform" action="@{Application.changeObservedCalendars()}">
<input type="hidden" name="calId" value="" />
<input type="hidden" name="chk" value="" />

<input type="hidden" name="username" value="${user.getName()}" />
<input type="hidden" name="calendarId" value="${calendar.getId()}" />
<input type="hidden" name="s_activeDate" value="${activeDate.toString('dd/MM/yyyy, HH:mm')}" />
<input type="hidden" name="message" value="${message}" />
</form>

<!-- Some Javascript to change observed calendars-->
<script type="text/javascript">
function changeSelection(boxName) {
	document.hiddenform.calId.value = boxName.id;
	
	if (boxName.checked == true) {
		document.hiddenform.chk.value = "true";
		/* alert("Added to view."); */
	}
	else {
		document.hiddenform.chk.value = "false";
		/* alert("Removed from view."); */
	}

	document.hiddenform.submit();
} 
</script>
</body>	
</div>

