#{extends 'main.html' /}
#{set title:'Home' /}
<header>
	<h1>${user.name}'s Calendar: ${calendar.name}:</h1>
	<p> Month: ${cal.getDisplayName(cal.MONTH, cal.LONG, Locale.GERMAN)} ${cal.get(cal.YEAR)} </p>
</header>

<body>
	<div id="nextMonth">
		<a href="@{Application.showTest(calendar.getId(),user.name ,calendar.getName(),next)}"> next </a>
	</div>
	
	<div id="prevousMonth">
		<a href="@{Application.showTest(calendar.getId(),user.name ,calendar.getName(),prev)}"> previous </a>
	</div>
	
	<table id="calendar">
		<tr>
			<td class="title"> Mo </td>
			<td class="title"> Di </td>
			<td class="title"> Mi </td>	
			<td class="title"> Do </td>	
			<td class="title"> Fr </td>	
			<td class="title"> Sa </td>	
			<td class="title"> So </td>	
		</tr>
		${cal.set(java.util.Calendar.DAY_OF_MONTH, 1)}
		%{ 
			int tmp = 1;
			int counter = 1;
			int year = date.getYear()+1900;;
			int month = date.getMonth()+1;
			
			for(int i = 0; i < 6; i++){
				
				out.println('<tr>');
				for(int j = 0; j < 7; j++){
				
					// gebe hier date of month aus
					// 1. vorzellen(leer), 2. erster bis letzter tag, 3. fill-in
					
					if (tmp  <= bound){
						out.println('<td class="entry"> - </td>');
					} else if(counter <= bound2){
					
				// Layout of day can be seperated into 3 categories:
					// 1 - today
						if (i*7+j-bound+1  == today.get(java.util.Calendar.DAY_OF_MONTH) 
								&& month-1 == today.get(java.util.Calendar.MONTH)
							 	&& year == today.get(java.util.Calendar.YEAR)) 
							{out.println('<td class="today"> ');}
						
					// 2 - selected
						else if (i*7+j-bound+1 == dday) 
							{out.println('<td class="selected"> ');}
						
					// 3 - normal day
						else 
							{out.println('<td class="entry"> ');}
						
						if(calendar.hasEventOnDay(counter, month, year, me)){
							
							%} 
								<a href="@{Application.showTest(calendar.getId(),user.name ,calendar.name,s_date,counter,month,year)})}"> ${counter}</a>
							{%
						}else{
							out.println(counter+'</td>');	
						}
						counter++;
					}else{
						out.println('<td class="entry"> - </td>');
					}
					tmp++;
				}
				out.println('</tr>');
			}
		%} 
	
	</table>
	<table id="events">
		#{if yyear!=0}
			<h2>${user.name}'s events of the ${dday}/${mmonth}/${yyear} </h2>
			
			#{list items:events, as:'event'}
				<p>
					<li>
						<b> Event name:</b>${event.name},  <b>from:</b>${event.start}  ,<b>to:</b>${event.end} #{if user==me},  
						<b>is_visible</b>:${event.is_visible} #{/if} <br>
						#{if user==me} 
							<b><a href="@{Application.editEvent(event.getId(), calendarId, me.name, s_date, dday, mmonth, yyear)}"> Edit </a></b> <br>
							<b><a href="@{Application.removeEvent(calendarId, event.getId(), s_date, dday, mmonth, yyear)}"> Remove </a></b> <br>
							#{if event.is_repeating}
								<b><a href="@{Application.removeRepeatingEvents(calendarId, event.getId(), s_date, dday, mmonth, yyear)}"> Remove All Repeating </a></b><br>  
								<b> <a href="">Cancel Repetition from here </a></b>
							#{/if}
						#{/if}
						
					</li>  
				</p>
			#{/list}
		#{/if}
	</table>
	
	<div id="Nav">
		#{if user==me} 
 			<a href="@{Application.addEvent(calendar.getId(), me.name, s_date, dday, mmonth, yyear)}"> New Event</a>  <br>
		#{/if}
	</div>
</body>	

<a href="@{Application.showCalendars(user.name, s_date)}">Back</a>
<a href="@{Application.index()}">Home</a>
<a href="@{Secure.logout()}">Log out</a>