#{if (results.equals(null) || results.size() == 0)}
	No events found...
#{/if}
#{else}
	#{list items:results, as:'event'}
		%{
			if(event.getEnd().isBefore(today))
			{
				out.print('<nb style="font-style:italic; color:rgb(128, 128, 128);">'+event.getParsedStartDate()+' - '+event.getParsedEndDate()+':'+'</nb>');
			}
			else
			{
				out.print(event.getParsedStartDate()+' - '+event.getParsedEndDate()+':');
			}
		%} <a href="@{CalendarController.showCalendar(event.getCalendarId(), event.getOwner(), event.getParsedStartDate())}">
		${event.getNameFor(curiousUser)}
		</a>
		%{
			if(event.getEnd().isBefore(today))
			{
				out.print('<nb style="font-style:italic; color:rgb(128, 128, 128);">'+'(Past Event)'+'</nb>');	
			}
		%}
		
		<br />
	#{/list}
#{/else}