#{extends 'main.html' /}
#{set title:'Home' /}

<h1>${user.name}'s profile</h1>

	<li><b> Name:</b> ${user.name} </li> <br>
	<li><b> Fullname:</b> ${nickname} </li> <br>
	
	#{if user.isBirthdayPublic()}<li><b> Birthday:</b> ${birthday.start.toString("yyyy-MM-dd")}</li> <br>#{/if}
	#{if user.getIsPrivateEmailVisible()}<li><b> E-Mail (P):</b> ${emailP}</li> <br>#{/if}
	#{if user.getIsBusinessEmailVisible()}<li><b> E-Mail (B):</b> ${emailB}</li> <br>#{/if}
	
	#{if user.getIsPrivatePhoneNumberVisible()}<li><b> Tel (P):</b> ${telP}</li> <br>#{/if}
	#{if user.getIsBusinessPhoneNumberVisible()}<li><b> Tel (B):</b> ${telB}</li> <br>#{/if}
	
	#{if user.getIsDescriptionVisible()}
		<li><b> Notes:</b></li> <br>
		<textarea rows="6" cols="100" name="notes" value="${notes}" readonly>${notes}</textarea>
	#{/if}
	<br>
#{if me == user}
<form name="form" action="javascript: document.location = '@{UserController.showEditProfile()}'"><input type="submit" value="edit Profile"> 
#{/if}
<input type="button" name="back" value="back" onclick="javascript:history.back()">