#{extends 'main.html' /}
#{set title: calendar.getName() /}
#{navigation /}

<div id="content">
<header>
	<h1>
	<a href="@{UserController.showProfile(user.getName())}">${user.getName()}</a>'s ${calendar.getName()} Calendar
		
	  %{//Add transparent star (normal calendar) or yellow star (faved calendar)
		if (me != user) {
			if (faved) {
				%}<a href="@{CalendarController.removeObserve(user.getName(), calendar.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'), message)}">%{
				out.println('<img src="/public/images/star_fav.png" border=0>');
			}
			else {
				%}<a href="@{CalendarController.addObserve(user.getName(), calendar.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'), message)}">%{
				out.println('<img src="/public/images/star.png" border=0>');
			}
		}
		%}
	</a>
	
	</h1>
</header>

<body>
	<div id="calendarNavigation">
			<span id="previousMonth"><a class="button" href="@{CalendarController.showCalendar(calendar.getId(), user.getName(), prevMonth.toString('yyyy-MM-dd-HH-mm'), activeDate.getDayOfMonth())}"><<</a></span>
			<span id="currentMonth">${activeDate.toString("MMM")} ${activeDate.getYear().toString()}</span>
			<span id= "jump_today"><a class="button" href="@{CalendarController.showCalendar(calendar.getId(), user.getName(), null, activeDate.getDayOfMonth())}">Jump to Today</a></span>
			<span id="nextMonth"><a class="button" href="@{CalendarController.showCalendar(calendar.getId(),user.getName(), nextMonth.toString('yyyy-MM-dd-HH-mm'), activeDate.getDayOfMonth())}">>></a></span>
			<br><br>
	</div>
	
	<table id="calendar">
		<tr>
			<td class="title"> Mon </td>
			<td class="title"> Tue </td>
			<td class="title"> Wed </td>	
			<td class="title"> Thu </td>	
			<td class="title"> Fri </td>	
			<td class="title"> Sat </td>	
			<td class="title"> Sun </td>	
		</tr>
		%{ 
			int tmp = 1;
			int counter = 1;
			int year = activeDate.getYear();
			int month = activeDate.getMonthOfYear();
			
			for(int i = 0; i < 6; i++){
				
				out.println('<tr>');
				for(int j = 0; j < 7; j++){
				
					// gebe hier date of month aus
					// 1. vorzellen(leer), 2. erster bis letzter tag, 3. fill-in
					
					if (tmp  < bound){
						out.println('<td class="entry"> - </td>');
					} 
					else if(counter <= bound2)
					{
					
					// Layout of day can be seperated into 3 categories:
					// 1 - today
						if (counter  == today.getDayOfMonth() 
								&& month == today.getMonthOfYear()
							 	&& year == today.getYear()) 
							{out.println('<td class="today"> ');}
						
					// 2 - selected
						else if (counter == activeDate.getDayOfMonth()) {
							out.println('<td class="selected"> ');
						}
						
					// 3 - normal day
						else {
							out.println('<td class="entry"> ');
						}
						hasEvent = calendar.hasEventOnDateIncludingObserved(counter, month, year, me)
						if(hasEvent){
						out.println('<b>');
						}
							%} 
							<a href="@{CalendarController.showCalendar(calendar.getId(), user.getName(), activeDate.toString('yyyy-MM-dd-HH-mm'), counter)}"> ${counter}</a>
							%{
							if (hasEvent) {
								out.println('</b>');
							}
						
						counter++;
					}
					else {
						out.println('<td class="entry"> - </td>');
					}
					tmp++;
				}
				out.println('</tr>');
			}
		%} 
	
	</table>
	
	%{
	if (me == user) {
	%}
	
	<form name="calendarform">
	<!-- observed calendars -->
	%{
		int c=0;
		int space = 360;
		int interval = (int)(space/(Math.max(observedCalendars.size(),1)));
	%}
	
	#{list items:observedCalendars, as:'cal'}
		
		<input type="checkbox" name="${cal.getName()}" id="${cal.getId()}" value="${cal.getName()}" onclick="changeSelection(this)" 
		%{
		//if observable calendar is shown, display checkbox as checked
		boolean statementClosed = false;

			for (int i=0; i<observedCalendars.size(); i++) {
				// if shown, mark checkbox
				if (shownObservedCalendars.contains(cal.id)) {
					out.print('checked="true"');
				}

				// Color observed calendars
				int col = interval*c;
				if(cal.getName().equals("Birthdays"))
	 			out.print('><font style="color: hsl(' + col + ',100%, 50%)">&#10026;</font> ' + cal.getName() + '<br>');
	 			else
	 				out.print('><font style="color: hsl(' + col + ',100%, 50%)">&#10026;</font> ' + cal.getName() +' '+"&lpar;" +cal.getOwner()+ "&rpar;"+'<br>')
	 			c++;
				statementClosed = true;
				break;
			}
		 
		 if (!statementClosed) {
			out.print('> '+cal.getName()+'<br>');
		 }
		 
		%}
	#{/list}
	</form>
	%{
	}
	%}
	
	<div style="clear:both"></div>

	<!-- Event search -->
	<script type="text/javascript" charset="utf-8">
	var eventSearch = #{jsAction @EventController.searchEvent(':query', user, calendar.getId(), activeDate.toString('yyyy-MM-dd-HH-mm')) /}
	$(document).ready(function() {
		$('#eventSearch').keyup(function() {
			$('#eventResults p').load(eventSearch({query: this.value}));
		});
	});
	</script>

	<h2>Search for an Event</h2>

	<input type="text" id="eventSearch" name="eventSearch">

	<div id="eventResults">
		<p>
		</p>
	</div>


	<div id="Nav">
		#{if user==me} 
		<form name="form" action="javascript: document.location = '@{EventController.addEditEvent(-1, calendar.getId(), me.getName(), activeDate.toString('yyyy-MM-dd-HH-mm'))}'">
		<input type="submit" value="New Event"> 
		</form>
		#{/if}
		<!-- #{if user==me} 
	 		<a class="button" href="@{EventController.addEditEvent(-1, calendar.getId(), me.getName(), activeDate.toString('yyyy-MM-dd-HH-mm'))}"> New Event</a>  <br>
		#{/if} -->
	</div>
	<table id="events">
			<h2>Events on ${activeDate.toString("dd-MM-yyyy")} </h2>
			#{if eventsOfDate.isEmpty()}
				No events to display.
			#{/if}
			
#{list items:eventsOfDate, as:'event'}
<p>
<div id="event"> <!-- event start -->
%{
	if (me == user) {	
	int space = 360;
	int interval = (int)(space/(Math.max(observedCalendars.size(),1)));				
	int idx = 0;
							
	for (int i=0; i < observedCalendars.size(); i++) {
		if (observedCalendars.get(i).getId() == event.getCalendarId() || observedCalendars.get(i).getId()+1 == event.getCalendarId()) {
				idx = i;
				break;
		}
	}
							
	col = interval*idx;
	// No border if event is from current user
	if (me == event.getOwner() && event.getName() != "birthday") 
		out.print('<div id="eventInformation" style="float:left; width: 60%; border-color: hsl(0, 100%, 100%)">');
	else 
		out.print('<div id="eventInformation" style="float:left; width: 60%; border-color: hsl(' + col + ',100%, 50%)">');
	}
%}
<span id="eventName">${event.getNameFor(me)}</span> 
<span id="important">${event.getDatesFor(activeDate, me)}</span>
<div id="important">${event.getDescriptionFor(me)}</div>
<div id="unimportant">
Created by: ${event.getOwner()}
#{if event.isRepeating()} - repeating: ${event.getRepetitionFor(me).toLowerCase()} #{/if}
#{if event.getVisibilityFor(me) != null} - ${event.getVisibilityFor(me).toLowerCase()} #{/if}
</div>

#{if !event.getAttendingUsers().isEmpty()}
<b>Attending: </b>

%{
	attendingSize = event.getAttendingUsers().size();
	maxSize = 3;
	if(attendingSize <= maxSize) {
		maxSize = attendingSize;	
	}
%}

#{list items:0..maxSize-1, as:'i'}
  %{
  	attendingUser = event.getAttendingUsers().get(i);
  %}
  #{if me==event.getOwner()}
  <a href="@{EventController.removeUserFromEvent(attendingUser.getName(), user.getName(), event.getCalendarId(), event.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'))}">
  <img src="/public/images/minus.png " width="12" alt="plus" /></a> 
  #{/if}
  
  ${attendingUser.getName()}
  
#{/list}
#{if attendingSize > 3}
  <i>and ${attendingSize - 3} more</i>
  <i><input type="button" value="show all" id="attendingUserButton" onclick="#attendingUserButton"> </i>
  <div id="attendingUsersModal" class="reveal-modal">
     <h1>${event.getName()}</h1>
     <h2>Attending Users</h2>
     #{list event.getAttendingUsers(), as:'attendingUser'}
     	<li>${attendingUser.getName()}</li>
     #{/list}
     <a class="close-reveal-modal">&#215;</a>
</div>
#{/if}
<br>
#{/if}

#{if me == event.getOwner() && !event.getPendingAttendingUsers().isEmpty()}
<b>Pending:</b>

%{
	pendingSize = event.getPendingAttendingUsers().size();
	maxSize = 3;
	if(pendingSize <= maxSize) {
		maxSize = pendingSize;	
	}
%}

#{list items:0..maxSize-1, as:'i'}
	
	<i>${event.getPendingAttendingUsers().get(i).getName()}</i>
  
#{/list}
#{if pendingSize > 3}
  <i>and ${pendingSize - 3} more</i>
  <i><input type="button" value="show all" id="pendingUserButton" onclick="#pendingUserButton"> </i>
<div id="pendingUsersModal" class="reveal-modal">
     <h1>${event.getName()}</h1>
     <h2>Pending Users</h2>
     #{list event.getPendingAttendingUsers(), as:'pendingUser'}
     	<li>${pendingUser.getName()}</li>
     #{/list}
     <a class="close-reveal-modal">&#215;</a>
</div>
#{/if}
<br>
#{/if}

#{if user == me && me==event.getOwner() && !user.isBirthday(event)}
  <a href="@{EventController.addEditEvent(event.getId(), calendar.getId(), me.getName(), activeDate.toString('yyyy-MM-dd-HH-mm'))}"> edit </a>
  - <a href="@{EventController.removeEvent(calendar.getId(), event.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'))}"> remove </a>
    #{if event.isRepeating()}
    - <a href="@{EventController.removeRepeatingEvents(calendar.getId(), event.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'))}"> remove all repeating </a>
    - <a href="@{EventController.cancelEventRepetition(calendar.getId(), event.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'))}"> cancel repetition from here </a>
    #{/if}
#{/if}

#{if event.getOwner() == me && event.isOpen() || event.isPublic() && event.isOpen()}
  #{if event.userIsAttending(me.getName())}
  <a href="@{EventController.removeUserFromEvent(me.getName(), user.getName(), calendar.getId(), event.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'))}">
  <img src="/public/images/minus.png " width="12" alt="plus" /> No longer attend </a>
  #{/if}
  #{else}
	<a href="@{EventController.addMyselfToEvent(calendar.getOwner(), event.getOwner().getName(), event.getCalendarId(), calendar.getId(), event.getId(), activeDate.toString('yyyy-MM-dd-HH-mm'))}">
	<img src="/public/images/plus.png " width="12" alt="plus" /> attend </a>
  #{/else}
#{/if}

#{if event.getOwner() == me && calendar.getOwner() == me}
	<br>Add user: <input type="text" id="userSearch${event.getId()}"><br>
#{/if}

</div>
<div id="space" style="float:left; width: 5px; color:white;">-</div>

<div id="userResults${event.getId()}">
<p>
</p>
</div>

</div> <!-- event end -->
<div style="clear:both"></div>
</p>

<!-- user search -->
<script type="text/javascript" charset="utf-8">
var userSearch${event.getId()} = #{jsAction @UserController.searchUserForAdding(':query', user, event.getCalendarId(),  event.getId(), event.getStart().toString('yyyy-MM-dd-HH-mm'), calendar.getId()) /}
$(document).ready(function() { $('#userSearch${event.getId()}').keyup(function() { $('#userResults${event.getId()} p').load(userSearch${event.getId()}({query: this.value})); });});
</script>
#{/list}
</table>

<form name="hiddenform" action="@{CalendarController.changeObservedCalendars()}">
<input type="hidden" name="calId" value="" />
<input type="hidden" name="chk" value="" />

<input type="hidden" name="username" value="${user.getName()}" />
<input type="hidden" name="calendarId" value="${calendar.getId()}" />
<input type="hidden" name="s_activeDate" value="${activeDate.toString('yyyy-MM-dd-HH-mm')}" />
<input type="hidden" name="message" value="${message}" />
</form>

<!-- Some Javascript to change observed calendars-->
<script type="text/javascript">
function changeSelection(boxName) {
	document.hiddenform.calId.value = boxName.id;
	
	if (boxName.checked == true) {
		document.hiddenform.chk.value = "true";
		/* alert("Added to view."); */
	}
	else {
		document.hiddenform.chk.value = "false";
		/* alert("Removed from view."); */
	}

	document.hiddenform.submit();
}

$(document).ready(function() {
	$('#attendingUserButton').click(function(e) {
		e.preventDefault();
		$('#attendingUsersModal').reveal();
	});
	$('#pendingUserButton').click(function(e) {
		e.preventDefault();
		$('#pendingUsersModal').reveal();
	});
	
});
</script>
</body>	
</div>